

ul {
   list-style-type: none;
   display: block;
   align-items: right;
   padding: 20px;
   vertical-align: top;
   margin: 0;
   text-align: right;
   border-bottom: 3px solid black;

}

li {
    display: inline;
    padding: 20px;
  }
